# Editors temp files
*.swp
*~
*.txt
log.sh

# SCRAM business
__init__.py
*.pyc

# CRAB3 stuff
crab_*
crabConfig_*

#config files
*.dat

# ROOT-related files
*.root
*.C
*_cc.d
*_cc.so
*_C.d
*_C.so
*\#*
.\#*
AutoDict_*
*.root
# Other temp files
*.txt
*.log
*.png
*.pdf
*.err
*.out
*.tmp
*.pcm
*.o
Signal/config_ggh*.py
# Output dirs in signal and bkg
Signal/outdir_*
Background/outdir_*
Datacard/yield*
createddatacard_condor/condor_logs/log.sh
Datacard/Datacard_MX*
Datacard/checkphotonID/        
Datacard/individual_cat/
Datacard/loose_phoID_2016pre/
Datacard/unblind1_March/       
Datacard/graviton_datacards/
Datacard/run2_unblind_new/
Datacard/tight_phoID_2016pre/
createdatacard_condor/
Datacard/*root
Datacard/*txt
Signal/outdir_*/
Signal/config_ggyhGGH*
Signal/config_ggyhVBF*
Signal/config_ggyhVH*
Signal/config_ggyhTTH*
Signal/config_ggyhwwgg*
Signal/config_ggyhbbgg*
Signal/config_ggyhzzgg*
Signal/config_ggyhttgg*